[Service]
Description=Sync Brightness of Duo Screens
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env /home/vpetukhov/build/zenbook-duo-2024-ux8406ma-linux/duo watch-backlight

[Install]
WantedBy=multi-user.target
